body {
 background-image: url("Assets/Landing.JPG");
 /* background-color: #cccccc; */
 /* background-position: center; */
 background-size: 100%;
 background-repeat: no-repeat;
 /* width: 0.5px;
 height: 0.5px; */
}

  div {
    position: center;
    width: 200px;
    height: 200px;
  }
  img {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: 100px;
  }

  /* div.logo{
    position: center;
    width: 100px;
    height: 100px;
  } */

  /* <head>
    <meta charset="utf-8">
    <title>Change Image on Hover in CSS</title>
  <style>
    .card{
      width: 200px;
      height: 200px;
      background: url("Assets/logo.png") no-repeat;
      margin: 200px;
    }
    .card:hover{
      background: url("Assets/logofilled.png") no-repeat;
    }
  </style>
  </head>
  <body>
    <div class="card"></div>
  </body> */

/* .image{
  min-height: 50px
} */

  /* body{
    background-image: url("Assets/logo.png");
    background-position: center;
    background-size: auto;
    background: url(Assets/logo.png) no-repeat fixed top center; */
    /* background-color: #339999;

  }

   /* body {
     color: white;
     font-family: arial;
   }

   a {
     color: orange;
     font-style: italic;
   }

   a.red-link {
     color: red;
     text-decoration: line-through;
   }

   img {
     position: absolute;
     bottom: 0px;
   }
 */
 /* </style> */
