ul {
  color: #292929;
  font-size: 46px;
  font-family: Poppin;
  text-align: center;
}

ul {
  margin: 18px;
  padding: 0;
  width: auto;
  float: none;
  text-align: center;
  color: #292929;
  font-family: Poppin;
  font-size: 20px;
}

li {
  display: inline-block;
  padding: 25px;
}

li:nth-child(1) {
  margin-right: 80px;
}

li:nth-child(2) {
  margin-right: 80px;
}

li:nth-child(3) {
  font-size: 150%;
  font-family: Telugu MN;
  margin-right: 80px;
}

li:nth-child(4) {
  margin-right: 80px;
}

a:link {
  text-decoration: none;
  color: #292929;
  font-family: Poppin;
}

a:visited {
  text-decoration: none;
  color: #292929;
  font-family: Poppin;
}

a:hover {
  padding-bottom: 7px;
  border-bottom-style: solid;
  border-bottom-width: 2.5px;
  color: #292929;
  font-family: Poppin;
}

a:active {
  text-decoration: none;
  color: #292929;
  font-family: Poppin;
}

img {
 max-width: 100%;
 max-height: 100%;
 flex-direction: row;
 justify-content: flex-start;
 display: block;
 background-size: cover;
 float:left;
}

.work {
float:left;
display: flex;
max-width: 100%;
background-size: cover;
}

.cultgaiacover {
  height: 604px;
  width: 860px;
  object-fit: cover;
  background-size: cover;
}

.nanushkacircolocover {
  height: 302px;
  width: 490px;
  object-fit: cover;
  background-size: cover;
  float: left;
}

.rotatecover {
  height: 604px;
  width: 860px;
  object-fit: cover;
  background-size: cover;
}

.sansfaffcover {
  height: 500px;
  width: 860px;
  object-fit: cover;
  background-size: cover;
  float:left;
}

.secondwork {
float:left;
display: flex;
max-width: 100%;
background-size: cover;
}

.bpcover {
  height: 500px;
  width: 270px;
  display: flex;
  object-fit:cover;
  background-size: cover;
}

.collage {
  height: 500px;
  width: 280px;
  display: flex;
  object-fit:cover;
  background-size: cover;
}

.thirdwork{
  float:left;
  display: flex;
  max-width: 100%;
  background-size: cover;
}

.birdnknollcover {
  height: 604px;
  width: 100%;
  object-fit: cover;
  background-size: cover;
  float:left;
}

.seemorecover {
  height: 604px;
  width: 100%;
  display:flex;
  object-fit: cover;
  background-size: cover;
}

.personalwork {
  float:left;
  display: flex;
  max-width: 100%;
  background-size: cover;
}

.grimescover {
  height: 663px;
  width: 100%;
  object-fit: cover;
  background-size: cover;
}

.glossiercover {
  height: 663px;
  width: 100%;
  size: auto;
  object-fit: cover;
  background-size: cover;
}

.secondpersonalwork{
  float:left;
  display: flex;
  max-width: 100%;
  background-size: cover;
}

.guscover img{
  width: 50%;
  object-fit: cover;
  object-position: -20% 0%;
  float:left;
  overflow: hidden;
}

.footer{
  color: #292929;
  font-family: Poppin;
  font-size: 20px;
  text-align: center;
}

.leaveamessage{
  font-family: Telugu MN;
  font-size: 150%;
  text-align: center;
  align-items: center;
  margin: auto;
}

input[type=text] {
  width: 40%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  display:inline-block;
  margin-right:30px;
}

.message input[type=text]{
  height: 40%;
}

fieldset{
  max-width: 50%;
  align-items: center;
  text-align: center;
  border: none;
  outline: none;
  margin: auto;
}

.mypicture{
  max-width: %;
  align-items: center;
  margin: auto;
  display: flex;
  background-size: cover;
  text-align: center;
  background-color: #292929;
}

.mypicturecover{
  width: 60%;
  height: 60%;
}
