p {
  color: #292929;
  font-family: Poppin;
  font-size: 46px;
  text-align: center;
}

ul {
  margin: 18px;
  padding: 0;
  width: auto;
  float: none;
  text-align: center;
  color: #292929;
  font-family: Poppins;
  font-size: 20px;
}

li {
  display: inline-block;
  padding: 15px;
}

li:nth-child(1) {
  margin-right: 80px;
}

li:nth-child(2) {
  margin-right: 80px;
}

li:nth-child(3) {
  font-size: 150%;
  font-family: Telugu MN;
  margin-right: 80px;
}

li:nth-child(4) {
  margin-right: 80px;
}

a:link {
  text-decoration: none;
  color: #292929;
}

a:visited {
  text-decoration: none;
}

a:hover {
  padding-bottom: 7px;
  border-bottom-style: solid;
  border-bottom-width: 2.5px;
}

a:active {
  text-decoration: underline;
}

.work {
float:left;
display: flex;
max-width: 100%;
background-size: cover;
}

img {
 max-width: 100%;
 max-height: 100%;
 flex-direction: row;
 justify-content: flex;
 display: block;
 background-size: cover;
 float:left;
}

.cultgaiacover {
  height: 715px;
  width: 925px;
  object-fit: cover;
  background-size: cover;
  padding-left: 100px;
}

.nanushkacircolocover {
  height: 360px;
  width: 360px;
  object-fit: cover;
  background-size: cover;
  float: left;
}

.rotatecover {
  height: 715px;
  width: 925px;
  object-fit: cover;
  background-size: cover;
  float: left;
  padding-right: 100px;
}
