@font-face {
  font-family: AllRoundGothic;
  src:url("../fonts/All-Round-Gothic/AllRoundGothic-Demi.ttf");
}
@font-face {
  fornt-family: Helvetica;
  src:url(".../font/Helvetica-Font/Helvetica.ttf");

}
p {
  background-image: url("assets/images/Pattern-02.png");
  background-size:130%;
  background-repeat: no-repeat;


}
body {
  background-image: url("assets/images/Pattern-02.png");
  background-size:cover;
  background-color: #262525;
  text-align: center;
  color: #EDE0CF; /* black */

  font-family: Helvetica;
    line-height: 165%
}

h1 {
  background-color: #262525;
  text-align: left;
  color: #EDE0CF; /* black */

  font-family: AllRoundGothic;
}

h2 {
  text-align: center;
  color: #FFFFFF; /* white */

    font-family: Helvetica;
      line-height: 20%
}

h3 {

}

h4 {
  style=background-image {
    width: 10px;
  }


}

a {
  color: #EDE0CF; /* black */
  font-weight: bolder;
  text-decoration: none;
}

.name{
  margin-top: 40px;
  margin-bottom: 10px;
  margin-left: 30px;

}
.info {
  margin-top: 20px;
  margin-bottom: 10px;

}
.line {
  width: 50%;
}

.know {
  justify-content: center;
  align-items: center;
    color: #FFFFFF; /* white */
}
.topAndBottomSpace {
  margin-top: 50px;
  margin-bottom: 50px;
}
.background {
  width: 300px;
  margin-top: 20px;
  margin-bottom:20px;
}
.hero-image {
  justify-content: center;
  width: 1170px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 50px;
  margin-right: 20px;
}
}
