@font-face {
  font-family: AllRoundGothic;
  src:url("../fonts/All-Round-Gothic/AllRoundGothic-Demi.ttf");
}
@font-face {
  fornt-family: Helvetica;
  src:url(".../font/Helvetica-Font/Helvetica.ttf");
}
body {
  background-color: #262525;
  text-align: center;
  color: #EDE0CF; /* black */

  font-family: Helvetica;
    line-height: 170%
}

h1 {
  background-color: #262525;
  text-align: center;
  color: #EDE0CF; /* black */

  font-family: AllRoundGothic;
}

h2 {
  text-align: center;
  color: #FFFFFF; /* white */

    font-family: Helvetica;
      line-height: 160%
}

h3 {

}

h4 {

}

a {
  color: #EDE0CF; /* black */
  font-weight: bolder;
  text-decoration: none;
}

.container {
  margin-top: 20px;
  margin-bottom: 16px;
}

.column {
  padding: 5px;
}
.name{
  margin-top: 40px;
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;

}
.info {
  margin-top: 20px;
  margin-bottom: 10px;

}

.know {

  justify-content: center;
  align-items: center;
    color: #FFFFFF; /* white */
}

.topAndBottomSpace {
  margin-top: 50px;
  margin-bottom: 50px;
}


.hero-image {
  width: 1150px;
  margin-top: 50px;
  margin-bottom: 50px;
}
}
