.logopage{
	background-size: cover;
	background-image: url(../img/design/designpage.png);
	background-repeat: no-repeat;
}


.design-ul{
	overflow-x: hidden;
	overflow-y:scroll;
	list-style: none;
	width: 300px;
	height: 700px;
}



.design-li{
	color: white;
	margin-top: 50px;
	font-size: 30px;	
}



.element, .outer-container {
  width: 260px;
  height: 700px;
}

.outer-container {
  border: 5px solid #80008000;
  position: relative;
  overflow: hidden;
}

.inner-container {
  position: absolute;
  left: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}

.inner-container::-webkit-scrollbar {
  display: none;
}

.bigImg{
	margin-left: 50px;
	min-width: 800px; 
	max-width: 880px;
	max-height: 750px;
}

.minImgDiv{
	width: 210px;
	text-align: center;
}


.minImg{
	min-width: 140px;
	max-width: 210px;
	max-height: 140px;
}

.design-ul2{
	overflow-x: hidden;
	overflow-y:scroll;
	list-style: none;
	width: 110%;
	height: 700px;
}
.design-li2{
	margin-left: 7%;
	width: 80%;
	margin-bottom: 30px;
}
.element, .outer-container2 {
	margin-top: 80px;
  width: 90%;
  height: 500px;
}

.maxImg{
	margin-left: 5%;
	width: 90%; 
}
.content{
	
	margin-top: 50px;

}