@font-face
{
font-family: BM Kirang Haerang;
src: url('../font/KirangHaerang-Regular-2.ttf'),
url('aa.eot'); 

}
@font-face
{
  font-family: Nanum Gothic;
src: url('../font/NanumGothic.ttf'),
url('aa.eot'); 

}

@font-face
{
font-family: 冬⻘⿊体简体中⽂;
src: url('../font/dm.ttf'),
url('aa.eot'); 

}

@font-face
{
font-family: 娃娃体-简;
src: url('../font/wwt2.ttf'),
url('aa.eot'); 

}

.font1{
  font-family: BM Kirang Haerang;
}
.font2{
  font-family: Nanum Gothic;
}
.font3{
  font-family: 冬⻘⿊体简体中⽂;
}
.font4{
  font-family: 娃娃体-简;
}