@font-face {
  font-family: bodega-sans, sans-serif;
  src:url("Assets/FONT/BodegaSans_LightSmallcaps.ttf");
}

body {
  font-family: bodega-sans, sans-serif;
}

ul {
  color: #7F132B;
  font-size: 20px;
}


/* Style the video: 100% width and height to cover the entire window */
.video-background {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

/* Add some content at the bottom of the video/page */
.content {
  position: fixed;
  top: auto;
}
